


.overlay{
    justify-content: center;
    align-items: center;
    border-radius: 2em;
    margin: 0.5em;
    padding: 0.25em 0.5em;
    font-family: Calibri, serif;
    font-size: 1.5em;
    line-height: 1.6em;
}
.icon{
    margin-right: 0.1em;
}

.play{
    color: darkgreen;
}
.pause{
    color: darkred;
}